<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Hi, <%= @user.email %></h1>
    <p>
      Somebody just liked your article.
    </p>
  </body>
</html>
